

.gallery-container {
    background-color: var(--cls4);
    height: auto;
    width: 94vw;
    margin-top: 3vh;
    margin-inline: auto auto;
    border-radius:0.75rem;
}

.search-bar-container{
    width: 50%;
    height: 100px;
    margin-block-start: 100px;
}
.search-bar-container .search-bar{
    background-color: var(--cls2);
    height: 20px;
    width: 25vw;
    display: inline-block;

    border-radius: 5% / 50%;
    padding-left: 5px;
    color: var(--cls14);
    font-size: 1rem;
    border: 1px solid var(--cls1);
    font-family: poppins-r;
}
.search-bar-container .search-options{
    height: 20px;
    width: auto;
    background-color: var(--cls5);
    border-radius: 5% / 50%;
}

.search-bar-container .search-options span{
    text-align: center;
    color: var(--cls14);
    padding-inline: 2px;
}

.search-options .funny{
    font-size: 14px;
}

.search-options .politics{
    font-size: 8px;
}

.search-options .baby{
    font-size: 10px;
}

.search-options .tv-shows{
    font-size: 16px;
}

.search-options .smile{
    font-size: 15px;
}

.search-options .sport{
    font-size: 10px;
}

.search-bar-container .search-bar::after{
    content: var(--after-mg);
    position: absolute;
    right: 0;
    top: 0;
}

.gallery-container .img-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-template-rows: repeat(auto-fit, minmax(200px, 300px));
    grid-auto-flow: dense;
    gap: 7px;
    justify-content: center;
    padding-block-start: 50px;
    padding-inline: 0px;
    
}


.img-grid-container .item-container{
    border-radius: 0.75rem;
    padding-inline: 0;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.item-container .square-img{
    border-radius: 0.75rem;
    object-fit: cover;
    width: 100%;
}

.gallery-cover{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: var(--cls2);
}

/* --------------------------------------- RESPONSIVE DESIGN ---------------------------------------*/



/* MOBILE SIZE SMALL */

@media (min-width: 450px)
{
    .gallery-container .img-grid-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        grid-template-rows: repeat(auto-fit, minmax(200px, 300px));
        padding-inline: 7px;
    }

    .img-grid-container .item-container{
        box-shadow: 1px 1px 1px var(--cls1);
    }

    .search-bar-container{
        width: 50%;
        height: 100px;
        margin-block-start: 100px;
    }
    .search-bar-container .search-bar{
        height: 40px;
        width: 20vw;

        margin-inline: 10px;
        margin-block: 10px;
        border-radius: 10% / 50%;
        padding-left: 10px;
        font-size: 2rem;
        font-family: poppins-r;
    }
    .search-bar-container .search-options{
        height: 40px;
        border-radius: 5% / 50%;
        margin-inline: 2px;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    .search-bar-container .search-options span{
        padding-inline: 20px;
    }

    .search-options .funny{
        font-size: 14px;
    }

    .search-options .politics{
        font-size: 9px;
    }

    .search-options .baby{
        font-size: 6px;
    }

    .search-options .tv-shows{
        font-size: 20px;
    }

    .search-options .smile{
        font-size: 16px;
    }

    .search-options .sport{
        font-size: 11px;
    }
}



/* MOBILE & TABLET SIZE MEDIUM */

@media (min-width: 750px)
{ 
    .gallery-container .img-grid-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
        grid-template-rows: repeat(auto-fit, minmax(200px, 250px));
        padding-inline: 7px;
    }

    .search-bar-container{
        width: 50%;
        height: 100px;
        margin-block-start: 100px;
    }
    .search-bar-container .search-bar{
        height: 40px;
        width: 20vw;

        margin-inline: 10px;
        margin-block: 10px;
        border-radius: 10% / 50%;
        padding-left: 10px;
        font-size: 2rem;
        font-family: poppins-r;
    }
    .search-bar-container .search-options{
        height: 40px;
        border-radius: 5% / 50%;
        margin-inline: 2px;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    .search-bar-container .search-options span{
        padding-inline: 25px;
    }

    .search-options .funny{
        font-size: 19px;
    }

    .search-options .politics{
        font-size: 14px;
    }

    .search-options .baby{
        font-size: 11px;
    }

    .search-options .tv-shows{
        font-size: 25px;
    }

    .search-options .smile{
        font-size: 21px;
    }

    .search-options .sport{
        font-size: 16px;
    }   
   

}



/* DESKTOP SIZE LARGE */

@media (min-width: 1060px)
{
   
}



/* DESKTOP SIZE EX-LARGE */

@media (min-width: 1600px){
    .gallery-container .img-grid-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        grid-template-rows: repeat(auto-fit, minmax(200px, 300px));
    }

    .search-bar-container{
        width: 50%;
        height: 100px;
        margin-block-start: 100px;
    }
    .search-bar-container .search-bar{
        background-color: var(--cls2);
        height: 60px;
        width: 40vw;
        display: inline-block;

        margin-inline: 50px;
        margin-block: 20px;
        border-radius: 5% / 50%;
        padding-left: 50px;
        color: var(--cls14);
        font-size: 2rem;
        border: 1px solid var(--cls1);
        font-family: poppins-r;
    }
    .search-bar-container .search-options{
        height: 60px;
        width: auto;
        background-color: var(--cls5);
        align-items:baseline;
    }

    .search-bar-container .search-options span{
        text-align: center;
        color: var(--cls14);
        padding-inline: 20px;
    }

    .search-options .funny{
        font-size: 1.8rem;
    }

    .search-options .politics{
        font-size: 1.5rem;
    }

    .search-options .baby{
        font-size: 0.7rem;
    }

    .search-options .tv-shows{
        font-size: 2rem;
    }

    .search-options .smile{
        font-size: 1.6rem;
    }

    .search-options .sport{
        font-size: 1.0rem;
    }
}