

.gallery-container {
    background-color: var(--cls4);
    height: auto;
    width: 94vw;
    margin-top: 3vh;
    margin-inline: auto auto;
    border-radius:0.75rem;
}


.gallery-container .img-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-template-rows: repeat(auto-fit, minmax(200px, 300px));
    grid-auto-flow: dense;
    gap: 7px;
    justify-content: center;
    padding-block-start: 10vh;
    padding-inline: 0px;
    
}


.img-grid-container .item-container{
    border-radius: 0.75rem;
    padding-inline: 0;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.item-container .square-img{
    border-radius: 0.75rem;
    object-fit: cover;
    width: 100%;
}

.gallery-cover{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: var(--cls2);
}

/* --------------------------------------- RESPONSIVE DESIGN ---------------------------------------*/



/* MOBILE SIZE SMALL */

@media (min-width: 450px)
{
    .gallery-container .img-grid-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        grid-template-rows: repeat(auto-fit, minmax(200px, 300px));
        padding-inline: 7px;
    }

    .img-grid-container .item-container{
        box-shadow: 1px 1px 1px var(--cls1);
    }
}



/* MOBILE & TABLET SIZE MEDIUM */

@media (min-width: 750px)
{ 
    .gallery-container .img-grid-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
        grid-template-rows: repeat(auto-fit, minmax(200px, 250px));
        padding-inline: 7px;
    }
}



/* DESKTOP SIZE LARGE */

@media (min-width: 1060px)
{
    
}



/* DESKTOP SIZE EX-LARGE */

@media (min-width: 1600px){
    .gallery-container .img-grid-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        grid-template-rows: repeat(auto-fit, minmax(200px, 300px));
    }
}