

.header-container{
    background-image: linear-gradient(-86deg, var(--cls10) 0%,var(--cls8) 100%);
    position: fixed;
    top: 0.5rem;  

    border-radius: 12% / 50%;
    margin-inline: auto auto;
    height: 6vh;
    min-height: 75px;
    width: 90vw;
    min-width: 275px;
    z-index: 40;
}

.header-container >*{
    height: 100%;
}

.logo-container{
    justify-content: left;
    padding: 0.3vw;
    width: min-content;
    min-width: 175px;
    margin-inline-start: 0.7rem;
    margin-inline-end: 0.3vw;
    margin-block-start: 0.3vh;
}

.logo-container img{
    height: 75px;
    width: 75px;
    aspect-ratio: 1/1;
}

.logo-container .l-txt{
    align-self: center;
    margin-inline-start: 0.7rem;
    font-family: Poppins-r;
    font-size: 1rem;
    color: var(--cls14);
    text-transform: uppercase;
}

.nav-bar-container{
    margin: 0vh 4vw 0vh 0.3vw;
    width: 50%;
}

.nav-bar-container > img{
    height: 75px;
    width: 75px;
    cursor: pointer;

    position: absolute;
    right: 0.3rem;
}

.nav-bar-container ul{
    justify-content: right;
    flex-direction: column;
    background-image: linear-gradient(-180deg, var(--cls10) 0%,var(--cls8) 100%);
    padding-inline-start: 0;
    height: 50vh;
    margin-block-start: 75px;
    width: 175px;

    position: absolute;
    top: 1.4vh;
    right: 0;
    transition: 0.47s;
    transform: translateX(-25%);
    transform-origin: top;
    transform: scaleY(1);

    box-shadow: -3px 11px 10px 7px var(--cls15);
}

.nav-bar-container li{
    margin: auto;
    height: 3rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
    border: 0.1px solid var(--cls6);
    transition: 0.47s;
}


.nav-bar-container li a.link{
    margin-block: 1.5rem 1.5rem;
    height: 100%;
    width: 100%;
    margin: 0px;
    
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    color: var(--cls14);
    text-decoration: none;
}

.nav-bar-container li a.link:hover{
    background-color: var(--cls14);
    font-weight: 700;
    color: var(--cls9);
}



/* --------------------------------------- RESPONSIVE DESIGN ---------------------------------------*/



/* MOBILE SIZE SMALL */

@media (min-width: 450px)
{
    .logo-container{
        padding: 0.3vw;
        width: 50%;
        min-width: 150px;
        margin-inline-start: 0.7rem;
        margin-inline-end: 0.3vw;
        margin-block-start: 0.3vh;
    }


    .header-container{
        
        border-radius: 7% / 50%;
    }

    .header-container >*{
        margin: 0.3vh 0.3vw 0.3vh 1.3vw;
    }

    .nav-bar-container ul{
        width: auto;
        right: 0;
    }
    
    .nav-bar-container li{
        width: 20vw;
        
    }
    
}



/* MOBILE & TABLET SIZE MEDIUM */

@media (min-width: 750px)
{
    .header-container{
        border-radius: 9% / 50%;
        justify-content: space-between;
    }
   
    .header-container >*{
        width: 29vw;
        
        margin: 0.2vh 0.3vw 0.3vh 3.3vw;
    }

    .logo-container{
        min-height: 175px;
    }

    .logo-container img{
        height: 6vh;
        width: 6vh;
    }

    .logo-container .l-txt{
        font-size: 1.5rem;
    }
    
    .nav-bar-container > img{
        display: none;
    }


    .nav-bar-container ul{
        background-image: none;
        height: inherit;
        margin-block-start:0;
        width: inherit;
        flex-direction: row;
        position: relative;
        top: 0;

        box-shadow: none;
    }

    .nav-bar-container li{
        height: 100%;
        margin-block: 0;
    }
    .nav-bar-container li a.link{
        border-radius: 20% / 50%;
        font-size: 1.5rem;
        border: none;
        
    }
}



/* DESKTOP SIZE LARGE */

@media (min-width: 1060px)
{
    .header-container{
        border-radius: 7% / 50%;
    }

    .logo-container{
        width: 21vw;
    }
}



/* DESKTOP SIZE EX-LARGE */

@media (min-width: 1600px){

}