

.header-container{
    background-image: linear-gradient(-86deg, var(--cls10) 0%,var(--cls8) 100%);
    position: fixed;
    top: 0.5rem;  

    border-radius: 12% / 50%;
    margin-inline: auto auto;
    height: 6vh;
    min-height: 6rem;
    width: 90vw;
    min-width: 320px;
    z-index: 40;
}

.logo-container{
    justify-content: left;
    padding: 0.3vw;
    margin: 0.3vh 0.3vw 0.3vh 3.3vw;
    width: 50vw;
    min-width: 150px;
}

.logo-container img{
    height: 6vh;
    width: 6vh;
    aspect-ratio: 1/1;
}

.logo-container .l-txt{
    align-self: center;
    margin-left: 0.7rem;

    font-family: Poppins-r;
    font-size: 1rem;
    color: var(--cls14);
    text-transform: uppercase;
}

.nav-bar-container{
    margin: 0vh 4vw 0vh 0.3vw;
}

.nav-bar-container ul{
    justify-content: right;
    padding-inline-start: 0;
}

.nav-bar-container li{
    margin: auto;
    width: 20vw;
}


.nav-bar-container li a.link{
    margin-block: 1.5rem 1.5rem;
    height: 3rem;

    
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    color: var(--cls14);
    text-decoration: none;
    border-radius: 20% / 50%;
}

.nav-bar-container li a.link:hover{
    background-color: var(--cls14);
    font-weight: 700;
    color: var(--cls9);
}

.nav-bar-container a.link.gallery{
     width: 7rem;
}

.nav-bar-container a.link.about{
    width: 6rem;
}



/* --------------------------------------- RESPONSIVE DESIGN ---------------------------------------*/



/* MOBILE SIZE SMALL */

@media (min-width: 450px)
{
    .header-container{
        position: relative;
        border-radius: 7% / 50%;
    }

    .header-container >*{
        margin: 0.3vh  0.3vh 0.3vh 5%;
    }
}



/* MOBILE & TABLET SIZE MEDIUM */

@media (min-width: 750px)
{
    .header-container{
        border-radius: 9% / 50%;
    }

    .header-container >*{
        width: 29vw;
        margin: 0.3vh  0.3vh 0.3vh 5%;
    }

    .header-container .logo .l-txt{
        font-size: 1.5rem;
    }
    
    .header-container li a.link{
        font-size: 1.5rem;
    }
}



/* DESKTOP SIZE LARGE */

@media (min-width: 1060px)
{
    .header-container{
        border-radius: 7% / 50%;
    }

    .header-container .logo{
        width: 21vw;
    }
}



/* DESKTOP SIZE EX-LARGE */

@media (min-width: 1600px){

}