@import url('header.css');
@import url('gallery.css');
@import url('search-bar.css');
@import url('mem-editor.css');


:root{
    /*color palet */

    --cls1: #000000;
    --cls2: #22252cab;
    --cls3: #22252c;
    --cls4: #383b42;
    --cls5: #bbc4d1;
    --cls6: #165c9c;
    --cls7: #1e7cd340;
    --cls8: #0c98b9;
    --cls9: #21ac91;
    --cls10: #33be6d;
    --cls11: #8f44bb;
    --cls12: #ff0000;
    --cls13: #ffffff40;
    --cls14: #ffffff;
    --cls15: #ffffff31;

    --after-mg: url('../img-general/magnifying-glass-icon.png');
}

/* TYPOGRAPHY */

@font-face {
    font-family: poppins-r;
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppin;
    src: url(/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: impacted;
    src: url(/fonts/Impact/impacted.ttf);
}


/* basic */

*{
    box-sizing: border-box;
}

body{
    background-color: var(--cls1);
    overflow-x: hidden;
}

.hidden{
    display: none !important;
}


.grid{
    display: grid;
}
.flex{
    display: flex;
}

.f-row{
    flex-direction: row;
}

.f-col{
    flex-direction: column;
}


.just-between{
    justify-content: space-between;
}

.cent-just-c{
    justify-content: center;
}

.cent-align-i{
    align-items: center;
}

.base-align-i{
    align-items: baseline;
}
ul,li{
    list-style-type: none;
    height: 100%;
    margin: 0;
}

.txt-Left{
    text-align: left;
}

.txt-center{
    text-align: center;
}

.txt-right{
    text-align: right;
}

.toggle-poppins{
    font-family: poppin;
}

.toggle-impacted{
    font-family: impacted;
}

.op-zero{
    opacity: 0;
}

.scale-zero{
    transform: scaleY(0) !important;
}

.full{
    margin-inline: 15px 15px;
}

/* small */
@media (min-width: 450px)
{

}


/* medium */
@media (min-width: 750px)
{ 
    
}

/* large */
@media (min-width: 1060px)
{
    
}

/*ex-large */
@media (min-width: 1300px){

}