

section.meme-editor{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}


.meme-editor .editor-container{
        position: fixed;
        flex-direction: column;
        z-index: 20;
        height: 90vh;;
        background-color: var(--cls3);
        padding-inline: 2rem 2rem;
        padding-block: 2rem 2rem;
        transform: translateY(10vh);
}

.meme-editor .editor-container > *{
    background-color: var(--cls4);
    width: calc(100% - 0.5rem);
    border-radius: 0.75rem;
}

.meme-editor .meme-canvas{
    height: 35vh;
}

.meme-editor section.canvas-controller{
    display: inline-block;
}

section.meme-editor .canvas-controller input.txt-line{
    border-radius: 10% / 50%;
    margin-block: 10px 10px;
    margin-inline: 20px 20px;
    grid-column: 1 / span 5;
    grid-row: 1 / 1;
    font-size: 1.7rem;
    box-shadow: 0px 5px 3px var(--cls2), inset 3px 5px 0 var(--cls13);
}

section.meme-editor .canvas-controller .line-btn{
    box-shadow: 0px 5px 3px var(--cls2), inset 3px 5px 0 var(--cls13);
    border-radius: 17%;
    margin-inline: 0.3vw ;
    margin-block: 0.2vh ;
    transition: 0.1s ease-in-out;
    padding: 0;
}

section.meme-editor .canvas-controller .line-btn:hover{
    box-shadow: 3px 3px 0 var(--cls13), inset 0 3px 3px var(--cls2);
}


section.meme-editor .canvas-controller .switch-Line{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    background-color: var(--cls8);
}

section.meme-editor .canvas-controller .add-line-btn{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    background-color: var(--cls10);
}

section.meme-editor .canvas-controller .delete-btn{
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    background-color: var(--cls12);
}

section.meme-editor .canvas-controller .down-arrow-btn{
    grid-column: 4 / 4;
    grid-row: 2 / 2;
    background-color: var(--cls14);
}

section.meme-editor .canvas-controller .up-arrow-btn{
    grid-column: 5 / 5;
    grid-row: 2 / 2;
    background-color: var(--cls14);
}


section.meme-editor .canvas-controller .txt-editor-container{
    grid-column: 1 / 6;
    grid-row: 3 / 5;
    background-color: var(--cls8);

    grid-template-columns: repeat(5, minmax(20px, 1fr));
    grid-template-rows: repeat(2, minmax(20px, 1fr));
    row-gap: 10px;
    column-gap: 15px;

    padding: 10px;

}

.canvas-controller .txt-editor-container .txt-btn{
    height: 60px;
    width: 60px;
    padding-inline: 0px;
    transition: 0.3 ease-in-out;
    border-radius: 8px;
    box-shadow: 0px 3px 2px 0px var(--cls4);
}

.canvas-controller .txt-editor-container .txt-btn:hover{
    background-color: var(--cls5);
    cursor: pointer;
}

.canvas-controller .txt-editor-container .txt-btn img{
    height: 50px;
    width: 50px;
    border-radius: 8px;
}

.canvas-controller .txt-editor-container .increase{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.canvas-controller .txt-editor-container .dencrease{
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.canvas-controller .txt-editor-container .align-left{
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.canvas-controller .txt-editor-container .align-center{
    grid-column: 4 / 4;
    grid-row: 1 / 1;
}

.canvas-controller .txt-editor-container .align-right{
    grid-column: 5 / 5;
    grid-row: 1 / 1;
}

.canvas-controller .txt-editor-container input.font-selection{
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    font-size: 1.2rem;
}

.canvas-controller .txt-editor-container .color-picker{
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    padding: 0.5rem;
}

.canvas-controller .txt-editor-container .font-outerline{
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}

.canvas-controller .txt-editor-container .fill-rect{
    grid-column: 5 / 5;
    grid-row: 2 / 2;
}

.canvas-controller .smiley-selection{
    grid-column: 1 / 6;
    grid-row: 5 / 7;

    height: 7vh;
    margin: auto;
    padding-inline: 1vw 1vw;
    background-color: var(--cls14);
    border-radius: 10% / 50%;
}
.canvas-controller .smiley-selection >*{
    display: block;
    background-color: var(--cls14);
    border: none;
    cursor: pointer;
}

.canvas-controller .smiley-selection .smiley-item{
    height: 40px;
    width: 40px;
    margin-block: auto;
    margin-inline: 0.2vw 0.2vw;
}



.canvas-controller .smiley-selection .next-smiley{
    height: 20px;
    width: 20px;
    align-self: center;
}

.canvas-controller .smiley-selection .prev-smiley{
    height: 20px;
    width: 20px;
    align-self: center;
    
}

.canvas-controller .s-d-btn{
    font-size: 1.2rem;
    border-radius: 10% / 30%;
    border: none;

    font-family: poppins-r;
    color: var(--cls14);
    box-shadow: 1px 6px 0 var(--cls2), inset 0 5px 0 var(--cls13);
    transition: 0.1s ease-in-out;
}

.canvas-controller .s-d-btn:hover{
    box-shadow: 0px 6px 0 var(--cls13), inset 0 6px 0 var(--cls2);
}

.canvas-controller .share-btn{
    grid-column: 1 / 3;
    grid-row: 7 / 7;
    transform: translate(20%);

    margin-block-end: 2vh;
    background-color: var(--cls6);

}

.canvas-controller .download-btn{
    grid-column: 4 / 6;
    grid-row: 7 / 7;
    transform: translate(-20%);

    margin-block-end: 2vh;
    background-color: var(--cls11);
    padding-inline-start: 2rem;
}

.canvas-controller .share-btn img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 1rem;
    top: 0.5rem;
}
.canvas-controller .download-btn img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 1rem;
    top: 0.5rem;
}


section.meme-editor .editor-backgound{
    background-color: var(--cls2);
    width: 100%;
    height: 100%;
}

/* small */
@media (min-width: 450px)
{
    section.meme-editor .canvas-controller{
        height: 45vh;
    }

    section.meme-editor .editor-container{
        top: 0;
        left: 0;
        height: 50vh;
        width: 100%;
        padding-inline: 0;
        padding-block: 0;
        transform: translateY(10vh);
    }

    .meme-editor section.canvas-controller{
        display: inline-block;
        grid-template-columns: repeat(5, minmax(20px, 1fr));
        grid-template-rows: repeat(7, minmax(20px, 1fr));
        padding: 10px;
        gap: 10px;
        height: 45vh;
        margin-block-start: 3rem;
    }

    .canvas-controller .line-btn img{
        height: 40px;
        width: 40px;
    }

}


/* medium */
@media (min-width: 750px)
{

    section.meme-editor .editor-container{
        top: 10vh;;
        left: 50%;
        height: 50vh;
        width: 96vw;
        padding-inline: 1rem;
        padding-block: 2vh 2vh;
        transform: translate(-50%);
        box-shadow: 0px 0px 2px 3px var(--cls5);
    }

    section.meme-editor canvas.meme-canvas{
        margin-inline-end: 1rem;
        height: calc(50vh - 4rem);
    }
    
    section.meme-editor .canvas-controller{
        margin-inline-start: 1rem;
        margin-block-start: 0;
    }

    section.meme-editor .editor-container > *{
        width: calc(50% - 0.5rem);
    }

    section.meme-editor .editor-container{
        height: 50vh;
        flex-direction: row;
    }

    section.meme-editor .editor-container .meme-canvas{
        display: inline-block;
    }

    .canvas-controller .line-btn img{
        height: 60px;
        width: 60px;
    }

    .canvas-controller .smiley-selection .smiley-item{
        height: 50px;
        width: 50px;
    }

}

/* large */
@media (min-width: 1060px)
{

    .canvas-controller .line-btn img{
        height: 40px;
        width: 40px;
    }

    section.meme-editor .editor-container{
        
        top: 50%;;
        left: 50%;
        height: 60vh;
        width: 70vw;
        transform: translate(-50%,-50%);
        padding-inline: 2rem 2rem;
        padding-block: 2rem 2rem;
        margin-inline: auto auto;
        box-shadow: 0px 0px 2px 3px var(--cls5);
    }
}

/*ex-large */
@media (min-width: 1600px){
    .canvas-controller .line-btn img{
        height: 40px;
        width: 40px;
    }

    section.meme-editor .editor-container{
        
        top: 50%;;
        left: 50%;
        height: 60vh;
        width: 60vw;
        transform: translate(-50%,-50%);
        padding-inline: 2rem 2rem;
        padding-block: 2rem 2rem;
        box-shadow: 0px 0px 2px 3px var(--cls5);
    }


    section.meme-editor .canvas-controller input.txt-line{
        font-size: 3rem;
    }

    .canvas-controller .smiley-selection .smiley-item{
        height: 70px;
        width: 70px;
    }
}