

section.search-bar{
    height: 7vh;
    width: 94vw;
    margin-inline: auto auto;
}



/* --------------------------------------- RESPONSIVE DESIGN ---------------------------------------*/



/* MOBILE SIZE SMALL */

@media (min-width: 450px)
{

}



/* MOBILE & TABLET SIZE MEDIUM */

@media (min-width: 750px)
{ 
    
}



/* DESKTOP SIZE LARGE */

@media (min-width: 1060px)
{
    
}


/* DESKTOP SIZE EX-LARGE */

@media (min-width: 1600px){

}