

.search-bar-container{
    width: 100%;
    height: 100%;
    margin-block-start: 100px;
}
.search-bar-container > *{
    height: 66px;
    
    margin-inline-start: 2.5% ;
    margin-block-start: 2% ;

}

.search-bar-container .search-bar{
    background-color: var(--cls2);
    width: 20%;
    display: inline-block;
    
    border-radius: 50px;
    padding-left: 15px;
    color: var(--cls14);
    font-size: 1rem;
    border: 1px solid var(--cls1);
    font-family: poppins-r;
}

.search-bar-container .search-bar::after{
    content: var(--after-mg);
    position: absolute;
    right: 0;
    top: 0;
}

.search-bar-container .search-options{
    width: 60%;
    background-color: var(--cls5);
    
    border-radius: 50px;
    align-items: center;
    align-self: center;
}

.search-bar-container .search-options > *{
    text-align: center;
    margin-inline: 6px;
    color: var(--cls14);
    padding-inline: 2px;
    cursor: pointer;
}


.search-bar-container  .more-btn{
    background-image: linear-gradient(-86deg, var(--cls10) 0%,var(--cls8) 100%);
    border-radius: 50px;
    height: 50%;
    align-self: center;
    cursor: pointer;
}



/* --------------------------------------- RESPONSIVE DESIGN ---------------------------------------*/



/* MOBILE SIZE SMALL */

@media (min-width: 450px)
{

}



/* MOBILE & TABLET SIZE MEDIUM */

@media (min-width: 750px)
{ 
    
}



/* DESKTOP SIZE LARGE */

@media (min-width: 1060px)
{
    .search-options{
        align-items: center;
    }
}


/* DESKTOP SIZE EX-LARGE */

@media (min-width: 1300px){
    
}