
/* search bar */


section.search-bar{
    height: 7vh;
    width: 94vw;
    margin-inline: auto auto;
}


/* small */
@media (min-width: 450px)
{

}


/* medium */
@media (min-width: 750px)
{ 
    
}

/* large */
@media (min-width: 1060px)
{
    
}

/*ex-large */
@media (min-width: 1600px){

}