:root{
    /*color palet */

    --cls1: rgba(0,0,0,1);
    --cls2: #22252c;
    --cls3: #383b42;
    --cls4: #0c98b9;
    --cls5: #33be6d;
    --cls6: rgba(255,255,255,1);
    --cls7: rgba(255,255,255,1);
}

/* TYPOGRAPHY */

@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins/Poppins-SemiBold.ttf);
}

/* basic */

*{
    box-sizing: border-box;
}

body{
    background-color: var(--cls1);
}


.flex{
    display: flex;
}

.f-row{
    flex-direction: row;
}

.f-col{
    flex-direction: column;
}
.just-between{
    justify-content: space-between;
}

.cent-just-content{
    justify-content: center;
}

.cent-alig-item{
    align-items: center;
}

ul,li{
    list-style-type: none;
}
/* header */

.header-container{
    background-image: linear-gradient(-86deg, var(--cls5) 0%,var(--cls4) 100%);

    border-radius: 10% / 50%;
    margin-inline: auto auto;
    height: 6vh;
    min-height: 6rem;
    width: 90vw;
    min-width: 320px;
}

.header-container .logo{
    
    padding: 0.7vh;
    margin: 0.3vh  0.3vh 0.3vh 10%;
    border-radius: 13% ;
    background-color: var(--cls3);
}

.header-container .logo img{
    height: 6vh;
    width: 13.8vh;
    aspect-ratio: 2.3/1;
    
}
.header-container  li a{
    font-family: Poppins, sans-serif;
    font-size: 4rem;
}



