:root{
    /*color palet */

    --cls1: #000000;
    --cls2: #22252cab;
    --cls3: #22252c;
    --cls4: #383b42;
    --cls5: #bbc4d1;
    --cls6: #165c9c;
    --cls7: #1e7cd340;
    --cls8: #0c98b9;
    --cls9: #21ac91;
    --cls10: #33be6d;
    --cls11: #8f44bb;
    --cls12: #ff0000;
    --cls13: #ffffff40;
    --cls14: #ffffff;

}

/* TYPOGRAPHY */

@font-face {
    font-family: poppins-r;
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppin;
    src: url(/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: impacted;
    src: url(/fonts/Impact/impacted.ttf);
}

/* basic */

*{
    box-sizing: border-box;
}

body{
    background-color: var(--cls1);
    overflow-x: hidden;
}

.hide{
    display: none;
}


.grid{
    display: grid;
}
.flex{
    display: flex;
}

.f-row{
    flex-direction: row;
}

.f-col{
    flex-direction: column;
}
.just-between{
    justify-content: space-between;
}

.cent-just-c{
    justify-content: center;
}

.cent-align-i{
    align-items: center;
}

ul,li{
    list-style-type: none;
    height: 100%;
    margin: 0;
}

.txt-Left{
    text-align: left;
}

.txt-center{
    text-align: center;
}

.txt-right{
    text-align: right;
}

.toggle-poppins{
    font-family: poppin;
}

.toggle-impacted{
    font-family: impacted;
}
/* header */

.header-container{
    background-image: linear-gradient(-86deg, var(--cls10) 0%,var(--cls8) 100%);
    position: relative;
    border-radius: 12% / 50%;
    margin-inline: auto auto;
    height: 6vh;
    min-height: 6rem;
    width: 90vw;
    min-width: 320px;
    z-index: 40;
}

.header-container .logo{
    justify-content: left;
    padding: 0.3vw;
    margin: 0.3vh 0.3vw 0.3vh 3.3vw;
    width: 50vw;
    min-width: 150px;
}

.header-container .logo img{
    height: 6vh;
    width: 6vh;
    aspect-ratio: 1/1;
}

.header-container .logo .l-txt{
    align-self: center;
    margin-left: 0.7rem;

    font-family: Poppins-r;
    font-size: 1rem;
    color: var(--cls14);
    text-transform: uppercase;
}

.header-container nav{
    margin: 0vh 4vw 0vh 0.3vw;
}

.header-container nav ul{
    justify-content: right;
    padding-inline-start: 0;
}
.header-container nav li{
    margin: auto;
    width: 20vw;
}


.header-container li a.link{
    margin-block: 1.5rem 1.5rem;
    height: 3rem;

    
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    color: var(--cls14);
    text-decoration: none;
    border-radius: 20% / 50%;
}

.header-container li a.link:hover{
    background-color: var(--cls14);
    font-weight: 700;
    color: var(--cls9);
}

.header-container a.link.gallery{
     width: 7rem;
}

.header-container a.link.about{
    width: 6rem;
}


/* search bar */


section.search-bar{
    height: 7vh;
    width: 94vw;
    margin-inline: auto auto;
}

/* gallery */


main.gallery-container {
    background-color: var(--cls4);
    height: 100vh;
    width: 94vw;
    margin-top: 3vh;
    margin-inline: auto auto;
    border-radius:0.75rem;
}


main.gallery-container .images-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 250px));
    grid-template-rows: repeat(auto-fit, minmax(50px, 250px));
    grid-auto-flow: dense;
    gap: 7px;

    padding: 7px;
    
}

main.gallery-container .images-grid .item-container{
    border-radius: 0.75rem;
   box-shadow: 1px 1px 1px var(--cls1);
}

main.gallery-container .item-container .square-img{
    border-radius: 0.75rem;
    max-height: 250px;
    min-height: 50px;
}


/* Meme Editor */
section.meme-editor{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 10;
}


section.meme-editor .editor-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    background-color: var(--cls3);
    height: 50vh;
    max-height: 700px;
    min-height: 300px;
    width: 70vw;
    max-width: 1000px;
    min-width: 300px;
    box-shadow: 0px 0px 2px 3px var(--cls5);

    padding-inline: 2rem 2rem;
    padding-block: 2rem 2rem;
}

section.meme-editor .editor-container > *{
    background-color: var(--cls4);
    width: calc(50% - 0.5rem);
    border-radius: 0.75rem;
}

section.meme-editor canvas.meme-canvas{
    margin-inline-end: 1rem;
    height: calc(50vh - 4rem);
}

section.meme-editor .canvas-controller{
    
    grid-template-columns: repeat(5, minmax(20px, 1fr));
    grid-template-rows: repeat(7, minmax(20px, 1fr));
    padding: 10px;
    gap: 10px;
    margin-inline-start: 1rem;
}


section.meme-editor .canvas-controller input.txt-line{
    border-radius: 10% / 50%;
    margin-block: 10px 10px;
    margin-inline: 20px 20px;
    grid-column: 1 / span 5;
    grid-row: 1 / 1;
    font-size: 2.5rem;
}

section.meme-editor .canvas-controller .line-btn{
    box-shadow: 0px 5px 3px var(--cls2), inset 3px 5px 0 var(--cls13);
    border-radius: 17%;
    margin-inline: 0.3vw ;
    margin-block: 0.2vh ;
    transition: 0.1s ease-in-out;
}
section.meme-editor .canvas-controller .line-btn:hover{
    box-shadow: 3px 3px 0 var(--cls13), inset 0 3px 3px var(--cls2);
}

section.meme-editor .canvas-controller .up-arrow-btn{
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    background-color: var(--cls8);
}

section.meme-editor .canvas-controller .down-arrow-btn{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    background-color: var(--cls8);
}

section.meme-editor .canvas-controller .add-line-btn{
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    background-color: var(--cls10);
}

section.meme-editor .canvas-controller .delete-btn{
    grid-column: 4 / 4;
    grid-row: 2 / 2;
    background-color: var(--cls12);
}

section.meme-editor .canvas-controller .txt-editor-container{
    grid-column: 1 / 6;
    grid-row: 3 / 5;
    background-color: var(--cls8);

    grid-template-columns: repeat(5, minmax(20px, 1fr));
    grid-template-rows: repeat(2, minmax(20px, 1fr));
    row-gap: 10px;
    column-gap: 15px;

    padding: 10px;

}

.canvas-controller .txt-editor-container .txt-btn{
    height: 60px;
    width: 60px;
    padding-inline: 0px;
    transition: 0.3 ease-in-out;
    border-radius: 8px;
    box-shadow: 0px 3px 2px 0px var(--cls4);
}

.canvas-controller .txt-editor-container .txt-btn:hover{
    background-color: var(--cls5);
    cursor: pointer;
}

.canvas-controller .txt-editor-container .txt-btn img{
    height: 50px;
    width: 50px;
    border-radius: 8px;
}

.canvas-controller .txt-editor-container .increase{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.canvas-controller .txt-editor-container .dencrease{
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.canvas-controller .txt-editor-container .align-left{
    grid-column: 3 / 3;
    grid-row: 1 / 1;
}

.canvas-controller .txt-editor-container .align-center{
    grid-column: 4 / 4;
    grid-row: 1 / 1;
}

.canvas-controller .txt-editor-container .align-right{
    grid-column: 5 / 5;
    grid-row: 1 / 1;
}

.canvas-controller .txt-editor-container input.font-selection{
    grid-column: 1 / span 3;
    grid-row: 2 / 2;
    font-size: 1.5rem;
}

.canvas-controller .txt-editor-container .font-style{
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}

.canvas-controller .txt-editor-container .paintbrush{
    grid-column: 5 / 5;
    grid-row: 2 / 2;
}

.canvas-controller .smiley-selection{
    grid-column: 1 / 6;
    grid-row: 5 / 7;

    height: 7vh;
    margin: auto;
    padding-inline: 1vw 1vw;
    background-color: var(--cls14);
    border-radius: 10% / 50%;
}
.canvas-controller .smiley-selection >*{
    display: block;
    background-color: var(--cls14);
    border: none;
    cursor: pointer;
}

.canvas-controller .smiley-selection .smiley-item{
    height: 70px;
    width: 70px;
    margin-block: auto;
    margin-inline: 0.2vw 0.2vw;
}



.canvas-controller .smiley-selection .next-smiley{
    height: 20px;
    width: 20px;
    align-self: center;
}

.canvas-controller .smiley-selection .prev-smiley{
    height: 20px;
    width: 20px;
    align-self: center;
    
}

.canvas-controller .s-d-btn{
    font-size: 1.2rem;
    border-radius: 10% / 30%;
    border: none;

    font-family: poppins-r;
    color: var(--cls14);
    box-shadow: 1px 6px 0 var(--cls2), inset 0 5px 0 var(--cls13);
    transition: 0.1s ease-in-out;
}

.canvas-controller .s-d-btn:hover{
    box-shadow: 0px 6px 0 var(--cls13), inset 0 6px 0 var(--cls2);
}

.canvas-controller .share-btn{
    grid-column: 1 / 3;
    grid-row: 7 / 7;
    transform: translate(20%);

    margin-block-end: 2vh;
    background-color: var(--cls6);

}

.canvas-controller .download-btn{
    grid-column: 4 / 6;
    grid-row: 7 / 7;
    transform: translate(-20%);

    margin-block-end: 2vh;
    background-color: var(--cls11);
   
}

section.meme-editor .editor-backgound{
    background-color: var(--cls2);
    width: 100%;
    height: 100%;
}



/* small */
@media (min-width: 450px)
{
    .header-container{
        border-radius: 7% / 50%;
    }

    .header-container >*{
        margin: 0.3vh  0.3vh 0.3vh 5%;
    }

    section.images-grid{
        justify-content: center;
    }
    
}


/* medium */
@media (min-width: 750px)
{
    .header-container{
        border-radius: 9% / 50%;
    }

    .header-container >*{
        width: 29vw;
        margin: 0.3vh  0.3vh 0.3vh 5%;
    }

    .header-container .logo .l-txt{
        font-size: 1.5rem;
    }
    
    .header-container li a.link{
        font-size: 1.5rem;
    }
}

/* large */
@media (min-width: 1060px)
{
    .header-container{
        border-radius: 7% / 50%;
    }

    .header-container .logo{
        width: 21vw;
    }
}